*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    padding: 25px;
}
section{
    height: 100vh;
    width: 100%;
    background-color: red;
    padding: 20px;
    display: grid;
    font-weight: bold;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 80px 500px 80px;
    grid-template-areas: 
    "head head head head head head head head head head head"
    "nav cont cont cont cont cont cont cont cont cont sidebar"
    "nav foot foot foot foot foot foot foot foot foot foot";
}
header{
    grid-area: head;
    border: 2px solid white;
}
nav{
    grid-area: nav;
    border: 2px solid white;
}
.content{
    grid-area: cont;
    border: 2px solid white;
}
.sidebar{
    grid-area: sidebar;
    border: 2px solid white;
}
footer{
    grid-area: foot;
    border: 2px solid white;
}