*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.header .container{
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1% 3%;
}
.header .container nav{
    flex: 1;
    text-align: center;
}
.header nav ul li{
    display: inline-block;
}
.header .container nav ul li{
    display: inline-block;
}
.logo a h1{
    color: black;
    font-family: sans-serif;
    font-size: 2.5rem;
}
.logo a h1 span{
    color: gold;
}
.nav{
    padding: 20px;
    top: 100px;
}
.active{
    color: black;
    padding: 10px;
    text-decoration: none;
}
.active-2{
    color: black;
    padding: 10px;
    text-decoration: none;
}
.active-3{
    color: black;
    padding: 10px;
    text-decoration: none;
}
.active-4{
    color: black;
    /* padding: 10px; */
    /* text-decoration: none; */
    border-collapse: collapse;
}
.active-5{
    color: black;
    padding: 10px;
    text-decoration: none;
}